<!DOCTYPE html>
<HTML lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>
        OpenSource CRM/ERP
    </title>
</head>
<body>
<div class="container-fluid">
    <div data-role="appbar" data-expand-point="md">
        <a href="#" class="brand no-hover">
        OpenSource CRM/ERP
        </a>

        <ul class="app-bar-menu">
            <li><a href="#">Home</a></li>
            <li>
                <a href="#" class="dropdown-toggle">Products</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="#">Windows 10</a></li>
                    <li><a href="#">Office 365</a></li>
                    <li class="divider bg-lightGray"></li>
                    <li><a href="#">Skype</a></li>
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="container">
        <div class="container-fluid">
            <h1>Tutaj powstaje coś zjawiskowego.</h1>
        </div>
        <div class="container-fluid">

            <div class="grid">
                <div class="row">
                    <div class="cell-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="avatar">
                                    <img src="http://lorempixel.com/68/68/people/">
                                </div>
                                <div class="name">Autor programu</div>
                                <div class="date">Piątek, 11:47</div>
                            </div>
                            <div class="card-content p-2">
                                <img src="http://lorempixel.com/600/400/" style="width: 100%">
                            </div>
                            <div class="card-footer">
                                <button class="flat-button mif-thumbs-up"></button>
                                <button class="flat-button mif-tag"></button>
                                <button class="flat-button mif-share"></button>
                            </div>
                        </div>
                    </div>
                    <div class="cell-4 offset-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="avatar">
                                    <img src="http://lorempixel.com/68/68/people/">
                                </div>
                                <div class="name">Autor programu</div>
                                <div class="date">Piątek, 11:47</div>
                            </div>
                            <div class="card-content p-2">
                                Pracujemy obecnie nad nowatorskim rozwiązaniem ERP, dostępnym dla każdej firmy.
                                oczekujcie na aktualizacje!
                            </div>
                            <div class="card-footer">
                                <button class="flat-button mif-thumbs-up"></button>
                                <button class="flat-button mif-tag"></button>
                                <button class="flat-button mif-share"></button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="avatar">
                                    <img src="http://lorempixel.com/68/68/people/">
                                </div>
                                <div class="name">Autor programu</div>
                                <div class="date">Piątek, 11:47</div>
                            </div>
                            <div class="card-content p-2">
                                <a href="https://mjwhodur.github.io">O autorze</a>
                            </div>
                            <div class="card-footer">
                                <button class="flat-button mif-thumbs-up"></button>
                                <button class="flat-button mif-tag"></button>
                                <button class="flat-button mif-share"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</HTML>